body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #312e318a;
}

.titulo{
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 30px;
}